// Colors
$hf-color: #7f1d1d;
$body-color: beige;
$font-color: black;


// Evenemang fonts
$font-family-event_rubrik:"Roboto Slab",  sans-serif;
$font-family-event: "Hind Siliguri", sans-serif; // .event