@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'mixins';
@import 'variables';

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    color: $font-color;
    background-color: $body-color;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: $hf-color;
    font-family: $font-rubrik;
    color: white;
    width: 100%;
    height: 10vh;
    display: flex;
    position: sticky;
    top: 0;
    // Detta är headern

    svg {
        fill: white;
    }

    ul {
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: white;
    }



    a {
        height: 100%;
        padding: 0 30px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: white;
        font-family: $font-paragraph;

        .pink {
            color: pink;
            text-decoration: none;
        }

        

    }

    a:active {
        text-decoration: underline;
    }

    .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        height: 30%;
        width: 100%;
        // z-index: 999;
        // "z-index: 999" Gör så att sidebar alltid ligger överst
        color: white;
        background-color: #7f1d1d62;
        backdrop-filter: blur(10px);
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 0;
        padding: 0;


        // .hidebar {
        //     height: 10vh;
        //     width: 100%;
        // }

        a {
            width: 100%;
            height: fit-content;
            margin-top: 3.5vh;
            color: white;
        }

        

        a:active {
            text-decoration: underline;
        }


    }

}

// Startsidan
.startsida-main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    h1 {
        margin-top: 2em;
        width: 60%;
        text-align: center;
        font-family: $font-rubrik;
        font-size: $font-size_rubrik;
        
    }

    p {
        font-family: $font-paragraph;
        color: $font-color;

        margin-top: 2em;
        width: 70%;
        text-align: center;
    }

    // img {
    //     margin-top: 2em;
    //     width: 90%;

    // }

}

// Evenemang
.evenemang_main {
    @include flex-column;
    // display: flex;
    // align-items: center;
    // flex-direction: column;
    width: 100%;

    .event_rubrik {
        @include center;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // text-align: center;
        font-size: $font-size_rubrik; //2rem (BYTA?)
        font-family: $font-rubrik;
        margin-top: $spacing;  //1rem
        margin-bottom: $spacing //1rem
    }


    .beskrivning_event {
        @include center;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // text-align: center;
        font-size: $font-size; //1rem
        font-family: $font-paragraph;
        margin-bottom: $spacing // 1rem;
    }

}

.event {
    @include flex-column;
    // display: flex;
    // align-items: center;
    // flex-direction: column;
    margin-top: $spacing2; //1.5rem; 
    margin-bottom: $spacing_bottom; // 2rem;
    padding: $spacing; // 1rem; 
    width: 90%; // All elements the same width
    font-family: $font-underrubrik;


    background-color: rgb(252, 247, 242); // Background color from recensioner
    color: rgb(18, 13, 13); // Text color for contrast
    box-shadow: 0 10px 25px rgb(220, 134, 134); // Box-shadow with the same color and intensity

    border-radius: 10px; // Slightly rounded corners for a softer look
    transition: transform 0.2s, box-shadow 0.2s; // Transition for smooth hover effect

    &:hover {
        transform: scale(1.1); // Enlarges on hover
        box-shadow: 0 15px 30px rgb(220, 134, 134); // Darker shadow on hover for depth
    }
}

.evenemang_dl {
    @include grid;
    // display: grid; // Gid Best for two dimentional layout, not flex
    // align-items: center;
    gap: 10px 20px; // First value gap between rows (vertical spacing) second value gap between columns (horizontal spacing)
    grid-template-columns: auto 1fr; // Makes info appear side by side instead of stacking vertically

    dt {
        font-weight: bold; // Writing bold, sticks out more
        margin-top: 7%;
    }

    dd {
        margin: 0; // Removes any default margin that might be applied to the <dd> (description data) element by the browser.
    }
}

// Nyheter

.nyhetsmain {
    @include flex-center;
    //display: flex;
    //justify-content: center;
    //align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    /* Hindrar horisontell scroll på huvudcontainern */
}

.veckansbok {
    width: 30%;
    height: 10%;
    top: 15%;
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    font-family: $font-rubrik;

    .veckans img {
        object-fit: contain;
        width: 100%;
        /* Gör att bilden fyller förälderns bredd */
        height: 100%;
    }
}



.förstaraden {
    display: flex;
    overflow-x: auto;
    /* Tillåter horisontell scroll på förstaraden */
    scroll-snap-type: x mandatory;
    height: fit-content;
    width: 80%;
    gap: 16px;
    scroll-behavior: smooth;


    .genre {
        @include genre;
       // display: flex;
       // text-align: left;
       // height: fit-content;
       // width: fit-content;

        left: 10%;
        top: 54%;

        font-size: large;
        font-weight: bold;

        padding: 20px;
    }
}

.andraraden {
    display: flex;
    overflow-x: auto;
    /* Tillåter horisontell scroll på förstaraden */
    scroll-snap-type: x mandatory;
    height: fit-content;
    width: 80%;
    gap: 16px;
    scroll-behavior: smooth;


    .genre2 {
        @include genre;
        // display: flex;
        // text-align: left;
        // height: fit-content;
        // width: fit-content;

        bottom: 10%;
        left: 10%;
        font-size: large;
        font-weight: bold;

        padding: 20px;
    }
}

.tredjeraden {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    height: fit-content;
    width: 80%;

    gap: 16px;
    scroll-behavior: smooth;

    .genre3 {
        @include genre;
       // display: flex;
       // text-align: left;
       // height: fit-content;
       // width: fit-content;

        bottom: -23%;
        left: 10%;
        font-size: large;
        font-weight: bold;

        padding: 20px;
    }
}

.genrebok {
    @include flex-center;
    //display: flex;
    //justify-content: center;
    //align-items: center;
    flex-direction: column;

    //height: 200px; /* Fast höjd för alla böcker */
    background-color: #e2dada;
    flex-shrink: 0;
    scroll-snap-align: start;

    .genrebok picture {
        max-height: 70%;
        width: 100%;
        display: flex;
        justify-content: center;

        .bokbild{
            object-fit: contain;
            width: 100%;
            height: 70%;
            display: block;
            transition: transform 0.2s;
            /* Ändrat från scale till transform */
        }

        .bokbild:hover {
            transform: scale(1.05);
            cursor: pointer;
        }
    }

    .genrebok p {
        width: 100%;
        text-align: center;
        margin: 0;
        padding-top: 5px;
        font-size: 5px;
    }
}

@media (min-width: 394px) {

    .veckansbok {
        width: 40%;
        height: 10%;
        top: 15%;
        text-align: center;
        padding-top: 20px;
        font-size: 30px;
        font-family: $font-rubrik;

        .veckans img {
            object-fit: contain;
            width: 100%;
            /* Gör att bilden fyller förälderns bredd */
            height: 100%;
        }
    }

    .genrebok {
        @include flex-center;
        //display: flex;
        //justify-content: center;
        //align-items: center;
        flex-direction: column;
        background-color: #e2dada;
        flex-shrink: 0;
        scroll-snap-align: start;
        width: 20%;

        .genrebok p {
            width: 100%;
            text-align: center;
            margin: 0;
            padding-top: 5px;
            font-size: 20px;
        }
    }
}

.genre {
    @include genre;
    // display: flex;
    // text-align: left;
    // height: fit-content;
    // width: fit-content;
    padding: 20px;

    font-size: xx-large;
    font-weight: bold;

}

.genre2 {
    @include genre;
    // display: flex;
    // text-align: left;
    // height: fit-content;
    // width: fit-content;
    padding: 20px;

    font-size: xx-large;
    font-weight: bold;
}

.genre3 {
    @include genre;
    // display: flex;
    // text-align: left;
    // height: fit-content;
    // width: fit-content;
    padding: 20px;

    font-size: xx-large;
    font-weight: bold;
}


@media (max-width: 393px) {
    .genrebok {
        @include flex-center;
        //display: flex;
        //justify-content: center;
        //align-items: center;
        flex-direction: column;
        width: 40%;
        background-color: #e2dada;
        flex-shrink: 0;
        scroll-snap-align: start;
    }

    .veckansbok {
        width: 60%;
        height: 10%;
        top: 15%;
        text-align: center;
        padding-top: 20px;
        font-size: 30px;
        font-family: $font-rubrik;

        .veckans img {
            object-fit: contain;
            width: 100%;
            /* Gör att bilden fyller förälderns bredd */
            height: 100%;
        }
    }

    .genrebok p {
        width: 100%;
        text-align: center;
        margin: 0;
        padding-top: 5px;
        font-size: 12px;
    }

    .genre {
        @include genre;
        // display: flex;
        // text-align: left;
        // height: fit-content;
        // width: fit-content;
        padding: 20px;

        font-size: large;
        font-weight: bold;

    }

    .genre2 {
        @include genre;
        // display: flex;
        // text-align: left;
        // height: fit-content;
        // width: fit-content;
        padding: 20px;

        font-size: large;
        font-weight: bold;
    }

    .genre3 {
        @include genre;
        // display: flex;
        // text-align: left;
        // height: fit-content;
        // width: fit-content;
        padding: 20px;

        font-size: large;
        font-weight: bold;
    }
}







/* Nyhets Scrollbarn styling */

::-webkit-scrollbar {
    width: 12px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

//   Recensioner

.rev-section {
    margin: auto;
    padding: 1rem;
    max-width: 90%;
    text-align: center;
}

.title {
    font-family: $font-paragraph;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: rgb(18, 13, 13);
    margin-bottom: .5rem;
}

.note {
    font-size: 1.1rem;
    color: rgb(112, 100, 100);
    font-style: italic;
    padding-bottom: 70px;
}

// .evenemang{
//     animation: slide 20s linear infinite ;
//     white-space: nowrap;
//     padding-bottom: 70px;
//     span{
//         color: blue;
//     }
// }
// @keyframes slide{
//     from{
//         transform: translateX(50%);
//     }
//     to{
//         transform: translateX(-50%);
//     }
// }
.reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

}

.body-review {
    display: flex;
    flex-direction: column;
    font-family: $font-paragraph;
    background-color: rgb(252, 247, 242);
    // padding: 2rem;
    // gap: 2rem;
    box-shadow: 0 5px 15px rgb(220, 134, 134);
    cursor: pointer;
    // border: solid;
    img {
        display: flex;
        align-self: center;
        max-width: 40%;
        height: 150px;
        box-shadow: 0 10px 25px rgb(231, 138, 138);
        border-radius: 30px;
    }


.body-review:hover {
    transform: scale(1.1);
}


.namve-review {
    font-size: 1.5rem;
    color: black;
    // margin-bottom: .25rem;
    // border: solid;
}

.place-review {
    color: blue;
    font-size: 1rem;
    // margin-bottom: .25rem;
    font-style: italic;
    // border: solid;
}

.rating {
    color: rgba(255, 243, 6, 0.909);
    // margin: 2rem 0;
    // border: solid;
}

.description {
    box-shadow: 0 10px 25px rgb(231, 138, 138);
    color: rgb(193, 178, 178);
    letter-spacing: 1px;
    line-height: 1.5rem;
    display: flex;
}
}
@media (max-width:678px) {
    .review {
        margin-top: 1.5rem;
    }

}


@media screen and (min-width: 800px) {

    .hide-on-desktop {
        display: none;
    }

    .event {
        flex-direction: row;
        justify-content: space-between; // Distribute space evenly between items
    }

    

}

@media screen and (max-width: 800px) {
    .show-on-desktop {
        display: none;
    }
}

@media(min-width:768px) {
    .rev-section {
        width: 50%;
    }
}